{{>layout/header}} {{#boards}}
<div class="container">
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>
      <h5 class="card-subtitle">{{user.username}}</h5>
      {{{content}}}
      <hr />
      <a href="/board/{{id}}" class="btn btn-primary" >상세보기</a>
    </div>
  </div>
</div>

{{/boards}}

<ul id="pages" class="pagination justify-content-center">
  {{^boards.first}}
  <li class="page-item">
    <a class="page-link" href="?page={{previous}}">Previous</a>
  </li>
  {{/boards.first}}


  <!-- <script>
    const totalPage = Number("{{totalPage}}");
    const currentPage = Number("{{currentPage}}");
    const pages = document.getElementById("pages");
    const count = 5;
    const half = parseInt((count)/2);
    const isEven = count%2==0 ? true : false;

    let start;
    let end;

    if(currentPage-half<0 || currentPage+half>=totalPage){
    start = currentPage-half<0 ? 0 : totalPage-count;
    end = currentPage+half>=totalPage ? totalPage:count;
    }else {
      start = currentPage - half;
      end = isEven ? currentPage + half : currentPage + half+1;
    }

    console.log(start);
    console.log(end);

    
    for(let i=start; i<end; i++){
      const page = document.createElement('li');
      
      if(currentPage===i){
        page.className =  'page-item disabled';
      }else {
        page.className = 'page-item';
      }
      page.innerHTML = `<a class="page-link" href="?page=${i}">${i+1}</a>`;
      pages.append(page);
    }
  </script> -->

  {{#pages}}
  {{{.}}}
  {{/pages}}


  {{^boards.last}} 
  <li class="page-item"></li>
  <a class="page-link" href="?page={{next}}">Next</a>
  </li>
  {{/boards.last}}
  
</ul>

{{>layout/footer}}
